// extends are reusable code snippets that DO NOT accept arguments

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}