// Accepts a the name of the size variable then returns the value
@function break-point($size) {

  // Media Query Breakpoints
  $breakpoints: (
    small: 0px,
    medium: 640px,
    xmedium: 800px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
  );

 @return map-get($breakpoints, $size);
}