// This file imports all other css files into this one singular main file
// @import directive in that it includes .scss or .sass files before the final CSS output.

/**
Variables – for relating component-specific values to others and preventing magic numbers

Mixins – for dynamically generating variations of the component (not necessary if few variations exist)

Structure – the CSS component layout/structure, excluding any non-layout rules, such as color

Relationships – any component-specific CSS with regard to relationships (via combinators) with other components

Themes – thematic CSS for non-layout component styling, such as background, colors, shadows, etc.

Exported Selectors – the manifested CSS classes/selectors, if they are to be expose


base/ – contains global styles, such as resets, typography, colors, etc.
components/ – contains each self-contained component in its own .scss partial
layout/ – contains styling for larger layout components; e.g. nav, header, footer, etc.
pages/ – contains page-specific styling, if necessary
themes/ – contains styling for different themes
utils/ – contains global mixins, functions, helper selectors, etc.
vendors/ – contains 3rd-party styles, mixins, etc.
main.scss – output file that brings together all of the above parts


### Variables
When adding variables ask these two question

- “What is this?”
- “How does this relate to my project’s general style?”

*/

// Imports all styling from all other files.
@import 'base/module';
@import 'components/module';
@import 'layout/module';
@import 'pages/module';
@import 'themes/module';
@import 'utils/module';
@import 'vendors/_module';

body, * {
  box-sizing: border-box;
}